<h1>Listing Your Blogs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for blog in @blogs %>
  <tr>
    <td><%=h blog.name %></td>
    <td><%= link_to 'Show', user_blog_path(@user, blog) %></td>
    <td><%= link_to 'Edit', edit_user_blog_path(@user, blog) %></td>
    <td><%= link_to 'Destroy', user_blog_path(@user, blog), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New blog', new_user_blog_path(@user) %>
