<p><%= link_to 'Logout', logout_path %></p>

<h3>Welcome to the BlogApp, <%= current_user.login %>!</h3>

<p><%= link_to 'Manage Your Blogs', user_blogs_path(current_user) %></p>

<%= link_to "Import photos and contacts from Moses's Suite of Apps!", oauth_path %>
<%= link_to "View your imported photos and contacts", show_resources_oauth_path %>